In [2]:
import pandas as pd
df = pd.read_csv('LivestockMeat_Exports.csv')
df.head()

,SOURCE_ID,HS_CODE,COMMODITY_DESC,GEOGRAPHY_CODE,GEOGRAPHY_DESC,ATTRIBUTE_DESC,UNIT_DESC,YEAR_ID,TIMEPERIOD_ID,AMOUNT
0,63,102900000.0,"Bovine animals, live, nesoi",2150,Honduras,"US Export, QTY",NO,1996,12,5.0
1,63,102900000.0,"Bovine animals, live, nesoi",2190,Nicaragua,"US Export, QTY",NO,2000,2,90.0
2,63,102900000.0,"Bovine animals, live, nesoi",2250,Panama,"US Export, QTY",NO,2001,11,12.0
3,63,102900000.0,"Bovine animals, live, nesoi",2250,Panama,"US Export, QTY",NO,2008,10,12.0
4,63,102900000.0,"Bovine animals, live, nesoi",2320,Bermuda,"US Export, QTY",NO,2007,4,49.0

In [3]:
df.columns

Index(['SOURCE_ID', ' HS_CODE', ' COMMODITY_DESC', ' GEOGRAPHY_CODE',
       'GEOGRAPHY_DESC', ' ATTRIBUTE_DESC', ' UNIT_DESC', ' YEAR_ID',
       ' TIMEPERIOD_ID', 'AMOUNT'],
      dtype='object')

In [4]:
len(df[' COMMODITY_DESC'].unique())

120

In [5]:
len(df['GEOGRAPHY_DESC'].unique())

237

In [6]:
df[' YEAR_ID'].unique()

array([1996, 2000, 2001, 2008, 2007, 2011, 2002, 2009, 1995, 2006, 1990,
       1991, 1992, 1993, 1994, 1998, 1999, 1989, 1997, 2005, 2003, 2010,
       2004, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [7]:
df.describe()

,SOURCE_ID,HS_CODE,GEOGRAPHY_CODE,YEAR_ID,TIMEPERIOD_ID,AMOUNT
count,1167984.0,8.650810e+05,1.167984e+06,1.167984e+06,1.167984e+06,1.167984e+06
mean,63.0,5.105471e+08,3.731311e+03,2.006124e+03,6.522350e+00,1.547545e+06
std,0.0,6.242148e+08,1.924916e+03,8.499774e+00,3.453274e+00,1.331217e+07
min,63.0,1.021000e+08,1.000000e+00,1.989000e+03,1.000000e+00,7.099863e-02
25%,63.0,2.031940e+08,2.360000e+03,1.999000e+03,4.000000e+00,6.346925e+03
50%,63.0,2.071400e+08,3.120000e+03,2.008000e+03,6.000000e+00,3.742200e+04
75%,63.0,4.070000e+08,5.590000e+03,2.013000e+03,1.000000e+01,2.147118e+05
max,63.0,3.502190e+09,7.990000e+03,2.019000e+03,1.200000e+01,6.928490e+08

In [8]:
df_final = df.loc[:, (df.columns).isin([' COMMODITY_DESC', 'GEOGRAPHY_DESC', ' YEAR_ID', 'AMOUNT'])]

In [9]:
df_final

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
0,"Bovine animals, live, nesoi",Honduras,1996,5.0
1,"Bovine animals, live, nesoi",Nicaragua,2000,90.0
2,"Bovine animals, live, nesoi",Panama,2001,12.0
3,"Bovine animals, live, nesoi",Panama,2008,12.0
4,"Bovine animals, live, nesoi",Bermuda,2007,49.0
5,"Bovine animals, live, nesoi",Bermuda,2011,31.0
6,"Bovine animals, live, nesoi",Jamaica,2002,2.0
7,"Bovine animals, live, nesoi",Dominican Republic,2001,60.0
8,"Bovine animals, live, nesoi",Dominican Republic,2002,31.0
9,"Bovine animals, live, nesoi",Trinidad and Tobago,2009,31.0
10,"Bovine animals, live, nesoi",Colombia,1995,47.0
11,"Bovine animals, live, nesoi",Venezuela,2006,48.0
12,"Bovine animals, live, nesoi",Brazil,1990,10.0
13,"Bovine animals, live, nesoi",Brazil,1991,59.0
14,"Bovine animals, live, nesoi",Brazil,1991,104.0
15,"Bovine animals, live, nesoi",Brazil,1992,112.0
16,"Bovine animals, live, nesoi",Brazil,1993,27.0
17,"Bovine animals, live, nesoi",Brazil,1994,4.0
18,"Bovine animals, live, nesoi",Brazil,1995,19.0
19,"Bovine animals, live, nesoi",Brazil,1998,28.0
20,"Bovine animals, live, nesoi",Brazil,1999,20.0
21,"Bovine animals, live, nesoi",Brazil,2001,9.0
22,"Bovine animals, live, nesoi",Brazil,2006,104.0
23,"Bovine animals, live, nesoi",Brazil,2008,132.0
24,"Bovine animals, live, nesoi",Uruguay,1996,47.0
25,"Bovine animals, live, nesoi",Argentina,1991,37.0
26,"Bovine animals, live, nesoi",Argentina,1992,50.0
27,"Bovine animals, live, nesoi",Argentina,1998,7.0
28,"Bovine animals, live, nesoi",Argentina,1998,5.0
29,"Bovine animals, live, nesoi",Argentina,2000,5.0
...,...,...,...,...
1167954,"Birds', eggs, in shell, preserved or cooked",Tonga,2013,27195.0
1167955,"Birds', eggs, in shell, preserved or cooked",Tonga,2014,27195.0
1167956,"Birds', eggs, in shell, preserved or cooked",Tonga,2019,9000.0
1167957,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2013,2235.0
1167958,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2014,9866.0
1167959,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2014,7769.0
1167960,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2015,14084.0
1167961,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2016,13187.0
1167962,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2016,8043.0
1167963,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2016,20233.0
1167964,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2017,10179.0
1167965,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2017,10317.0
1167966,"Birds', eggs, in shell, preserved or cooked",Republic of South Africa,2013,2400.0
1167967,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2012,14634.0
1167968,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2013,18551.0
1167969,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2013,29471.0
1167970,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2014,14265.0
1167971,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2014,16502.0
1167972,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2014,11232.0
1167973,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,28722.0
1167974,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,17100.0
1167975,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,14859.0
1167976,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,60233.0
1167977,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2016,57920.0
1167978,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2016,27038.0
1167979,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2017,45536.0
1167980,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2017,41371.0
1167981,"Birds', eggs, in shell, preserved or cooked",Curaco,2015,3998.0
1167982,"Birds', eggs, in shell, preserved or cooked",Curaco,2016,3795.0
1167983,"Birds', eggs, in shell, preserved or cooked",Curaco,2017,155.0

In [10]:
Aggr_sum = df_final.groupby([' COMMODITY_DESC', 'GEOGRAPHY_DESC', ' YEAR_ID']).agg(sum).reset_index()
Aggr_sum.head()

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
0,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Angola,1995,17438.630548
1,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Antigua & Barbuda,1989,7012.316971
2,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Antigua & Barbuda,1990,3101.447620
3,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Antigua & Barbuda,1991,1362.393012
4,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1989,18981.340282

In [12]:
Aggr_sum

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
0,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Angola,1995,1.743863e+04
1,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Antigua & Barbuda,1989,7.012317e+03
2,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Antigua & Barbuda,1990,3.101448e+03
3,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Antigua & Barbuda,1991,1.362393e+03
4,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1989,1.898134e+04
5,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1990,8.531345e+05
6,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1991,5.809564e+05
7,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1992,7.308437e+04
8,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1993,1.161721e+05
9,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1994,4.671806e+04
10,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Aruba,1995,3.526194e+04
11,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Australia,1989,8.280144e+04
12,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Australia,1993,4.465043e+04
13,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Australia,1994,5.505110e+05
14,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Australia,1995,3.842910e+05
15,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Austria,1989,1.947377e+06
16,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Austria,1990,1.330721e+06
17,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Austria,1991,9.686614e+05
18,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Austria,1992,1.271594e+06
19,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Austria,1993,7.314287e+05
20,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Austria,1994,1.246189e+05
21,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1989,5.808763e+05
22,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1990,5.210152e+05
23,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1991,4.364787e+05
24,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1992,1.132229e+05
25,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1993,4.252269e+04
26,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1994,2.316629e+05
27,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahamas,1995,4.983553e+05
28,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahrain,1989,1.380024e+04
29,"*Beef Boneless Processed, NESOI, FR/CH ADDTL N...",Bahrain,1990,4.089583e+04
...,...,...,...,...
106982,"Turkeys, wings or parts thereof, frozen",Western Samoa,2013,7.849401e+05
106983,"Turkeys, wings or parts thereof, frozen",Western Samoa,2014,3.138895e+05
106984,"Turkeys, wings or parts thereof, frozen",Western Samoa,2015,5.144924e+05
106985,"Turkeys, wings or parts thereof, frozen",Western Samoa,2016,1.106761e+06
106986,"Turkeys, wings or parts thereof, frozen",Western Samoa,2017,1.743834e+06
106987,"Turkeys, wings or parts thereof, frozen",Western Samoa,2018,3.113931e+05
106988,"Turkeys, wings or parts thereof, frozen",Western Samoa,2019,8.721699e+04
106989,"Turkeys, wings or parts thereof, frozen",World,1997,1.811262e+07
106990,"Turkeys, wings or parts thereof, frozen",World,1998,1.987131e+07
106991,"Turkeys, wings or parts thereof, frozen",World,1999,1.626989e+07
106992,"Turkeys, wings or parts thereof, frozen",World,2000,3.187210e+07
106993,"Turkeys, wings or parts thereof, frozen",World,2001,4.869393e+07
106994,"Turkeys, wings or parts thereof, frozen",World,2002,4.509197e+07
106995,"Turkeys, wings or parts thereof, frozen",World,2003,3.449988e+07
106996,"Turkeys, wings or parts thereof, frozen",World,2004,6.266731e+06
106997,"Turkeys, wings or parts thereof, frozen",World,2005,2.780852e+07
106998,"Turkeys, wings or parts thereof, frozen",World,2006,4.459921e+07
106999,"Turkeys, wings or parts thereof, frozen",World,2007,5.997278e+07
107000,"Turkeys, wings or parts thereof, frozen",World,2008,1.085243e+08
107001,"Turkeys, wings or parts thereof, frozen",World,2009,8.294612e+07
107002,"Turkeys, wings or parts thereof, frozen",World,2010,9.070324e+07
107003,"Turkeys, wings or parts thereof, frozen",World,2011,7.700582e+07
107004,"Turkeys, wings or parts thereof, frozen",World,2012,9.390716e+07
107005,"Turkeys, wings or parts thereof, frozen",World,2013,1.168055e+08
107006,"Turkeys, wings or parts thereof, frozen",World,2014,8.481764e+07
107007,"Turkeys, wings or parts thereof, frozen",World,2015,5.189334e+07
107008,"Turkeys, wings or parts thereof, frozen",World,2016,8.926475e+07
107009,"Turkeys, wings or parts thereof, frozen",World,2017,8.710368e+07
107010,"Turkeys, wings or parts thereof, frozen",World,2018,8.631055e+07
107011,"Turkeys, wings or parts thereof, frozen",World,2019,4.804151e+07

In [53]:
Aggr_sum[' COMMODITY_DESC'].unique()

array(['*Beef Boneless Processed, NESOI, FR/CH ADDTL Note 3',
       '*Beef Cuts W/ Bone in Processed, NESOI, Frzn ADDTL Note 3',
       '*Chicken Cuts and Edible Offal (Ex Livers), Frozen',
       '*Chicken Cuts and Edible Offal (Inc Liver), Fresh/Chilled',
       '*Chickens, NESOI, Not cut in pieces, Fresh, Frozen',
       '*Chickens, NESOI, Not cut in pieces, Fresh, chilled',
       '*Chickens, Young, Not cut in pieces, Fresh, chilled',
       '*Chickens, Young, Not cut in pieces, Frozen',
       '*Egg Albumin, Dried',
       '*Meat Bovine Animals Boneless, Processed, Frozen',
       '*Meat Bovine Animals NESOI Cuts w/ bone processed frh/chd',
       '*Meat and edible offal, of the poultry of heading 0105, of chickens, cuts and of',
       '*Meat nesoi and edible meat offal, salted, in brine, dried or smoked, including ',
       '*Meat of swine, nesoi, salted, in brine, dried or smoked',
       '*Other Egg Albumin, Except Dried',
       '*Other prepared or preserved meat, meat offal or blood, of poultry of heading 01',
       '*Sausages and similar products, of meat, meat offal or blood; food preparations ',
       '*Turkey meat and meat offal (except liver), prepared or preserved, nesoi',
       '*Turkey, cuts and offal, frozen',
       'Animal meat, nesoi, including preparations of blood of any animal, prepared or p',
       'Bacon', 'Beef and veal',
       'Bellies (streaky) and cuts thereof, of swine, salted, in brine, dried or smoked',
       'Bird eggs not in shell, died, whether or not sweetened',
       'Bird eggs not in shell, frsh, frzn, cooked by water etc.',
       "Birds' eggs, in shell, for hatching",
       "Birds' eggs, in shell, fresh, preserved or cooked",
       "Birds' of species gallus domesticus fresh eggs, not for hatching",
       "Birds', eggs, in shell, preserved or cooked",
       'Bovine animals, live, nesoi',
       'Bovine animals, live, purebred breeding, dairy, female',
       'Bovine animals, live, purebred breeding, dairy, male',
       'Bovine animals, live, purebred breeding, except dairy, female',
       'Bovine animals, live, purebred breeding, except dairy, male',
       'Broiler',
       'Carcasses and half-carcasses of bovine animals, nesoi, fresh or chilled',
       'Carcasses and half-carcasses of bovine animals, nesoi, frozen',
       'Carcasses and half-carcasses of lamb, fresh or chilled',
       'Carcasses and half-carcasses of lamb, frozen',
       'Carcasses and half-carcasses of sheep, fresh or chilled',
       'Carcasses and half-carcasses of sheep, frozen',
       'Carcasses and half-carcasses of swine, fresh or chilled',
       'Carcasses and half-carcasses of swine, frozen',
       'Carcasses and half-carcasses of veal, fresh or chilled',
       'Carcasses and half-carcasses of veal, frozen', 'Cattle',
       'Cattle, live, other than purebred breeding animals',
       'Cattle, live, purebred breeding, except dairy, female',
       'Cattle, live, purebred breeding, except dairy, male',
       'Chickens, nesoi, not cut in pieces, fresh, chilled',
       'Chickens, nesoi, not cut in pieces, frozen', 'Egg',
       'Egg albumin, dried', 'Egg product',
       'Egg yolks, dried, whether or not sweetened',
       'Egg yolks, frsh, frzn, cooked by water, molded etc.',
       'Eggs of fowls of the species gallus domesticus (chicken), fertilized for incubat',
       'Goat', 'Goats, live',
       'Hams and cuts thereof, of swine, boned and cooked and packed in airtight contain',
       'Hams and cuts thereof, of swine, nesoi, prepared or preserved',
       'Hams, shoulders and cuts thereof, of swine, bone in, except processed, fresh or ',
       'Hams, shoulders and cuts thereof, of swine, bone in, except processed, frozen',
       'Hams, shoulders and cuts thereof, of swine, bone in, processed, fresh or chilled',
       'Hams, shoulders and cuts thereof, of swine, bone in, processed, frozen',
       'Hams, shoulders and cuts thereof, of swine, bone in, salted, in brine, dried or ',
       'Hog',
       'Homogenized preparations of meat, meat offal or blood (subheading note 1)',
       'Lamb',
       'Meat and edible offal, of the poultry of heading 0105, of chickens, cuts and off',
       'Meat and edible offal, of the poultry of heading 0105, of chickens, not cut in p',
       'Meat of bovine animals, boneless, except processed, fresh or chilled',
       'Meat of bovine animals, boneless, except processed, frozen',
       'Meat of bovine animals, cuts with bone in, except processed, fresh or chilled',
       'Meat of bovine animals, cuts with bone in, except processed, frozen',
       'Meat of bovine animals, fresh or chilled, boneless, processed',
       'Meat of bovine animals, fresh or chilled, other cuts with bone in, processed',
       'Meat of bovine animals, frozen, boneless, processed',
       'Meat of bovine animals, frozen, other cuts with bone in, processed',
       'Meat of bovine animals, salted, in brine, dried or smoked',
       'Meat of sheep, boneless, fresh or chilled',
       'Meat of sheep, boneless, frozen',
       'Meat of sheep, cuts with bone in, nesoi, fresh or chilled',
       'Meat of sheep, cuts with bone in, nesoi, frozen',
       'Meat of swine nesoi, boned and cooked and packed in airtight containers, not con',
       'Meat of swine nesoi, not containing cereals or vegetables, prepared or preserved',
       'Meat of swine prepared or preserved, including mixtures, nesoi',
       'Meat of swine, nesoi, except processed, fresh or chilled',
       'Meat of swine, nesoi, except processed, frozen',
       'Meat of swine, nesoi, processed, fresh or chilled',
       'Meat of swine, nesoi, processed, frozen',
       'Meat or meat offal of bovine animals, nesoi, prepared or preserved',
       'Mutton', 'Other chicken', 'Other egg albumin, except dried',
       'Other prepared or preserved meat, meat offal or blood, of poultry of heading 010',
       'Other prepared or preserved meat, meat offal or blood, of the poultry of heading',
       'Pork', 'Prepared meals of turkey',
       'Sausages and similar products, of meat, meat offal or blood; food preparations b',
       'Sheep', 'Sheep, live', 'Shell egg',
       'Shoulders and cuts thereof, of swine, boned and cooked and packed in airtight co',
       'Shoulders and cuts thereof, of swine, nesoi, prepared or preserved',
       'Swine, live, nesoi, weighing 50 kg or more each',
       'Swine, live, nesoi, weighing less than 50 kg each',
       'Swine, live, purebred breeding animals', 'Turkey',
       'Turkey cuts and edible offal (except livers), frozen',
       'Turkey cuts and edible offal (including livers), fresh or chilled',
       'Turkey, cuts and offal, fresh or chilled',
       'Turkey, legs with bone, frozen',
       'Turkeys, breasts or parts thereof, frozen',
       'Turkeys, leg meat without bone, frozen',
       'Turkeys, not cut in pieces, fresh or chilled',
       'Turkeys, not cut in pieces, frozen', 'Turkeys, offal, frozen',
       'Turkeys, other cuts and offal, frozen',
       'Turkeys, wings or parts thereof, frozen'], dtype=object)

In [18]:
df_Bulgaria = Aggr_sum[Aggr_sum['GEOGRAPHY_DESC'] == 'Bulgaria']

In [19]:
df_Bulgaria

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
298,"*Beef Cuts W/ Bone in Processed, NESOI, Frzn A...",Bulgaria,1994,3.765975e+05
299,"*Beef Cuts W/ Bone in Processed, NESOI, Frzn A...",Bulgaria,1995,1.230221e+06
629,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Bulgaria,1992,7.295642e+04
630,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Bulgaria,1993,3.875756e+06
631,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Bulgaria,1994,5.619260e+06
632,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Bulgaria,1995,4.703164e+06
3208,"*Meat and edible offal, of the poultry of head...",Bulgaria,1996,1.045992e+06
4011,"*Meat of swine, nesoi, salted, in brine, dried...",Bulgaria,2004,2.600467e+05
4012,"*Meat of swine, nesoi, salted, in brine, dried...",Bulgaria,2005,8.020072e+04
5025,"*Sausages and similar products, of meat, meat ...",Bulgaria,1995,2.051300e+04
5887,"Animal meat, nesoi, including preparations of ...",Bulgaria,2003,1.831600e+04
8668,Beef and veal,Bulgaria,1994,3.765975e+05
8669,Beef and veal,Bulgaria,1995,1.254929e+06
8670,Beef and veal,Bulgaria,1996,3.149139e+05
8671,Beef and veal,Bulgaria,1997,1.803007e+05
8672,Beef and veal,Bulgaria,1999,3.883849e+05
8673,Beef and veal,Bulgaria,2001,4.612125e+03
8674,Beef and veal,Bulgaria,2002,5.640135e+03
8675,Beef and veal,Bulgaria,2003,5.757307e+05
8676,Beef and veal,Bulgaria,2004,2.111824e+03
8677,Beef and veal,Bulgaria,2005,3.693979e+06
8678,Beef and veal,Bulgaria,2006,2.311786e+06
8679,Beef and veal,Bulgaria,2007,4.775114e+02
8680,Beef and veal,Bulgaria,2008,1.406516e+07
8681,Beef and veal,Bulgaria,2009,1.188909e+06
8682,Beef and veal,Bulgaria,2014,2.231673e+03
14333,"Birds' eggs, in shell, for hatching",Bulgaria,2006,2.160600e+04
14334,"Birds' eggs, in shell, for hatching",Bulgaria,2008,3.801900e+04
19217,Broiler,Bulgaria,1992,7.295642e+04
19218,Broiler,Bulgaria,1993,3.875756e+06
...,...,...,...,...
100125,"Turkeys, breasts or parts thereof, frozen",Bulgaria,2003,7.268083e+04
100126,"Turkeys, breasts or parts thereof, frozen",Bulgaria,2005,1.316952e+06
101035,"Turkeys, leg meat without bone, frozen",Bulgaria,1999,1.511748e+05
101036,"Turkeys, leg meat without bone, frozen",Bulgaria,2000,3.008627e+05
101037,"Turkeys, leg meat without bone, frozen",Bulgaria,2001,1.061134e+06
101038,"Turkeys, leg meat without bone, frozen",Bulgaria,2002,6.832222e+05
101039,"Turkeys, leg meat without bone, frozen",Bulgaria,2003,5.993476e+05
101040,"Turkeys, leg meat without bone, frozen",Bulgaria,2004,2.296688e+05
101041,"Turkeys, leg meat without bone, frozen",Bulgaria,2005,3.312143e+06
101042,"Turkeys, leg meat without bone, frozen",Bulgaria,2006,6.984922e+05
101043,"Turkeys, leg meat without bone, frozen",Bulgaria,2008,7.267762e+04
101688,"Turkeys, not cut in pieces, fresh or chilled",Bulgaria,2005,7.936567e+04
102511,"Turkeys, not cut in pieces, frozen",Bulgaria,2004,4.158638e+04
102512,"Turkeys, not cut in pieces, frozen",Bulgaria,2005,1.578597e+05
102513,"Turkeys, not cut in pieces, frozen",Bulgaria,2006,7.939771e+04
102514,"Turkeys, not cut in pieces, frozen",Bulgaria,2013,4.967164e+03
104179,"Turkeys, offal, frozen",Bulgaria,2001,7.558742e+04
104180,"Turkeys, offal, frozen",Bulgaria,2004,7.558742e+04
104181,"Turkeys, offal, frozen",Bulgaria,2005,2.267623e+05
104830,"Turkeys, other cuts and offal, frozen",Bulgaria,1997,1.189081e+06
104831,"Turkeys, other cuts and offal, frozen",Bulgaria,1999,1.439773e+05
104832,"Turkeys, other cuts and offal, frozen",Bulgaria,2000,1.427525e+06
104833,"Turkeys, other cuts and offal, frozen",Bulgaria,2001,6.938968e+05
104834,"Turkeys, other cuts and offal, frozen",Bulgaria,2002,3.480098e+06
104835,"Turkeys, other cuts and offal, frozen",Bulgaria,2003,4.515960e+06
104836,"Turkeys, other cuts and offal, frozen",Bulgaria,2004,2.738599e+06
104837,"Turkeys, other cuts and offal, frozen",Bulgaria,2005,1.117283e+07
104838,"Turkeys, other cuts and offal, frozen",Bulgaria,2006,4.076648e+06
106328,"Turkeys, wings or parts thereof, frozen",Bulgaria,2003,7.268083e+04
106329,"Turkeys, wings or parts thereof, frozen",Bulgaria,2006,1.790829e+06

In [22]:
df_Bulgaria[' YEAR_ID'].unique()

array([1994, 1995, 1992, 1993, 1996, 2004, 2005, 2003, 1997, 1999, 2001,
       2002, 2006, 2007, 2008, 2009, 2014, 1998, 2000, 2019, 2018, 2016,
       2017, 2013], dtype=int64)

In [26]:
df_Bulgaria[df_Bulgaria[' YEAR_ID'] == 2019]

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
41151,"Hams, shoulders and cuts thereof, of swine, bo...",Bulgaria,2019,66277.976585
84569,Pork,Bulgaria,2019,66277.976585

In [27]:
df_Bulgaria[df_Bulgaria[' YEAR_ID'] == 2018]

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
45304,Hog,Bulgaria,2018,63.0
90176,Sheep,Bulgaria,2018,103.0
90433,"Sheep, live",Bulgaria,2018,103.0
93747,"Swine, live, nesoi, weighing 50 kg or more each",Bulgaria,2018,63.0

In [48]:
df_Bulgaria_country = df_Bulgaria.groupby(['GEOGRAPHY_DESC', ' YEAR_ID']).agg(sum).reset_index()

In [49]:
df_Bulgaria_country

   GEOGRAPHY_DESC   YEAR_ID        AMOUNT
0        Bulgaria      1992  1.459128e+05
1        Bulgaria      1993  7.751513e+06
2        Bulgaria      1994  1.216131e+07
3        Bulgaria      1995  1.230508e+07
4        Bulgaria      1996  2.758075e+06
5        Bulgaria      1997  8.529217e+06
6        Bulgaria      1998  5.520692e+06
7        Bulgaria      1999  2.041746e+07
8        Bulgaria      2000  3.801582e+07
9        Bulgaria      2001  7.257738e+07
10       Bulgaria      2002  2.777002e+07
11       Bulgaria      2003  2.685725e+07
12       Bulgaria      2004  1.700878e+07
13       Bulgaria      2005  5.937533e+07
14       Bulgaria      2006  3.418508e+07
15       Bulgaria      2007  2.881427e+07
16       Bulgaria      2008  1.041887e+08
17       Bulgaria      2009  1.245407e+07
18       Bulgaria      2013  9.934328e+03
19       Bulgaria      2014  4.463346e+03
20       Bulgaria      2016  3.080000e+02
21       Bulgaria      2017  6.180000e+02
22       Bulgaria      2018  3.320000e+02
23       Bulgaria      2019  1.325560e+05

In [50]:
df_final_country = df_final.groupby(['GEOGRAPHY_DESC', ' YEAR_ID']).agg(sum).reset_index()

In [51]:
df_final_country

     GEOGRAPHY_DESC   YEAR_ID        AMOUNT
0       Afghanistan      1992  1.482650e+05
1       Afghanistan      1994  4.012315e+05
2       Afghanistan      1995  8.329623e+05
3       Afghanistan      1997  1.108067e+05
4       Afghanistan      1999  1.509505e+05
5       Afghanistan      2003  1.080000e+03
6       Afghanistan      2004  2.943680e+07
7       Afghanistan      2005  1.280866e+08
8       Afghanistan      2006  5.760566e+07
9       Afghanistan      2007  5.561970e+07
10      Afghanistan      2008  1.680047e+08
11      Afghanistan      2009  1.897701e+08
12      Afghanistan      2010  2.606663e+08
13      Afghanistan      2011  1.941563e+08
14      Afghanistan      2012  1.881605e+08
15      Afghanistan      2013  1.407221e+08
16      Afghanistan      2014  1.272649e+08
17      Afghanistan      2015  1.954408e+08
18      Afghanistan      2016  1.802439e+08
19      Afghanistan      2017  2.049341e+08
20      Afghanistan      2018  1.597925e+08
21      Afghanistan      2019  4.238250e+07
22          Albania      1993  1.551434e+06
23          Albania      1994  2.122725e+07
24          Albania      1995  1.412734e+07
25          Albania      1996  1.276126e+07
26          Albania      1997  9.564649e+06
27          Albania      1998  1.086817e+07
28          Albania      1999  4.065559e+07
29          Albania      2000  5.640987e+07
...             ...       ...           ...
4878   Yemen (Sana)      2003  7.888478e+06
4879   Yemen (Sana)      2004  4.143961e+05
4880   Yemen (Sana)      2005  7.943617e+04
4881   Yemen (Sana)      2006  1.664929e+05
4882   Yemen (Sana)      2007  1.138089e+05
4883   Yemen (Sana)      2008  1.299461e+06
4884   Yemen (Sana)      2009  9.121995e+04
4885   Yemen (Sana)      2010  9.730816e+04
4886   Yemen (Sana)      2012  1.570265e+06
4887   Yemen (Sana)      2014  1.872000e+04
4888   Yemen (Sana)      2018  3.552003e+04
4889         Zambia      1998  1.279157e+05
4890         Zambia      2000  4.364054e+05
4891         Zambia      2007  7.577139e+04
4892         Zambia      2008  1.427147e+05
4893         Zambia      2010  4.325197e+04
4894         Zambia      2012  1.659551e+06
4895         Zambia      2016  2.230743e+05
4896         Zambia      2017  3.487911e+05
4897         Zambia      2018  1.819905e+05
4898         Zambia      2019  1.730752e+05
4899       Zimbabwe      1993  1.821889e+05
4900       Zimbabwe      1997  8.000000e+00
4901       Zimbabwe      2001  1.000000e+01
4902       Zimbabwe      2007  1.419203e+04
4903       Zimbabwe      2009  1.704115e+06
4904       Zimbabwe      2010  4.098391e+06
4905       Zimbabwe      2011  2.513022e+07
4906       Zimbabwe      2012  6.913584e+06
4907       Zimbabwe      2013  2.174063e+05

[4908 rows x 3 columns]

In [52]:
df_final

,COMMODITY_DESC,GEOGRAPHY_DESC,YEAR_ID,AMOUNT
0,"Bovine animals, live, nesoi",Honduras,1996,5.0
1,"Bovine animals, live, nesoi",Nicaragua,2000,90.0
2,"Bovine animals, live, nesoi",Panama,2001,12.0
3,"Bovine animals, live, nesoi",Panama,2008,12.0
4,"Bovine animals, live, nesoi",Bermuda,2007,49.0
5,"Bovine animals, live, nesoi",Bermuda,2011,31.0
6,"Bovine animals, live, nesoi",Jamaica,2002,2.0
7,"Bovine animals, live, nesoi",Dominican Republic,2001,60.0
8,"Bovine animals, live, nesoi",Dominican Republic,2002,31.0
9,"Bovine animals, live, nesoi",Trinidad and Tobago,2009,31.0
10,"Bovine animals, live, nesoi",Colombia,1995,47.0
11,"Bovine animals, live, nesoi",Venezuela,2006,48.0
12,"Bovine animals, live, nesoi",Brazil,1990,10.0
13,"Bovine animals, live, nesoi",Brazil,1991,59.0
14,"Bovine animals, live, nesoi",Brazil,1991,104.0
15,"Bovine animals, live, nesoi",Brazil,1992,112.0
16,"Bovine animals, live, nesoi",Brazil,1993,27.0
17,"Bovine animals, live, nesoi",Brazil,1994,4.0
18,"Bovine animals, live, nesoi",Brazil,1995,19.0
19,"Bovine animals, live, nesoi",Brazil,1998,28.0
20,"Bovine animals, live, nesoi",Brazil,1999,20.0
21,"Bovine animals, live, nesoi",Brazil,2001,9.0
22,"Bovine animals, live, nesoi",Brazil,2006,104.0
23,"Bovine animals, live, nesoi",Brazil,2008,132.0
24,"Bovine animals, live, nesoi",Uruguay,1996,47.0
25,"Bovine animals, live, nesoi",Argentina,1991,37.0
26,"Bovine animals, live, nesoi",Argentina,1992,50.0
27,"Bovine animals, live, nesoi",Argentina,1998,7.0
28,"Bovine animals, live, nesoi",Argentina,1998,5.0
29,"Bovine animals, live, nesoi",Argentina,2000,5.0
...,...,...,...,...
1167954,"Birds', eggs, in shell, preserved or cooked",Tonga,2013,27195.0
1167955,"Birds', eggs, in shell, preserved or cooked",Tonga,2014,27195.0
1167956,"Birds', eggs, in shell, preserved or cooked",Tonga,2019,9000.0
1167957,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2013,2235.0
1167958,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2014,9866.0
1167959,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2014,7769.0
1167960,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2015,14084.0
1167961,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2016,13187.0
1167962,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2016,8043.0
1167963,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2016,20233.0
1167964,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2017,10179.0
1167965,"Birds', eggs, in shell, preserved or cooked",Equatorial Guinea,2017,10317.0
1167966,"Birds', eggs, in shell, preserved or cooked",Republic of South Africa,2013,2400.0
1167967,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2012,14634.0
1167968,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2013,18551.0
1167969,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2013,29471.0
1167970,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2014,14265.0
1167971,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2014,16502.0
1167972,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2014,11232.0
1167973,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,28722.0
1167974,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,17100.0
1167975,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,14859.0
1167976,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2015,60233.0
1167977,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2016,57920.0
1167978,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2016,27038.0
1167979,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2017,45536.0
1167980,"Birds', eggs, in shell, preserved or cooked",Sint Marteen,2017,41371.0
1167981,"Birds', eggs, in shell, preserved or cooked",Curaco,2015,3998.0
1167982,"Birds', eggs, in shell, preserved or cooked",Curaco,2016,3795.0
1167983,"Birds', eggs, in shell, preserved or cooked",Curaco,2017,155.0